body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}